header {
    margin-bottom: 5%;
}
.title1 {
    display: inline;
    font-size: 4vw;
}
#logo {
    width: 5%;
    display: inline;
}

nav {
    display: inline;
    float: right;
    padding-right: 5%;
    width: 40%;
    margin-top: 2.7%;
}

.link {
    text-decoration: none;
    color: black;
    padding: 5%;
}

#leftsec {
    border-style: solid;
    width: 29%;
    margin-left: 1%;
    padding: 1%;
}

#rightsec {
    border-style: solid;
    width: 65%;
    float: right;
    padding: 5% 0% 5% 0%;
    margin-right: 1%;
}

.sec {
    display: inline-block;
}

.sec1 {
    margin: 4%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
