body {
    background-color: #ccffcc;
}
header {
    padding-top: 2%;
    padding-left: 1%;
    margin-bottom: 1%;
    background-image: url("banner.jpg");
    background-size: cover;
    display: block;
    height: 80px;
    color: #e6e6e6;
}

.title1 {
    display: inline;
    font-size: 4vw;
}

#logo {
    width: 5%;
    display: inline;
}

nav {
    display: inline;
    float: right;
    margin: 2%;
    padding-right: 5%;
    width: 40%;
    font-size: 120%;
}

#navigation {
    color: #e6e6e6;
}

.link {
    text-decoration: none;
    color: #888;
    padding: 5%;
}

.col-container{
    display: table;
    width: 100%;
    border-spacing: 20px;
}

#leftsec {
    border-style: solid;
    border-color: #888;
    width: 30%;
    margin-left: 1%;
    padding: 2.5%;
    display: table-cell;
    background-color: azure;
    color: #4acaa8;
     
}

#rightsec {
    border-style: solid;
    border-color: #888;
    width: 66%;
    background-color: azure;
    display: table-cell;
}
#user {
    width: 30%;
    margin-left: 0%;
}

h2 {
    float: right;
    margin-right: 20%;  
    color: #888;
}

h3 {
   display: inline-block;
    color: #888;
}

#plus {
    border: thin solid #888;
    padding: 1.5%;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

#pref {
    margin-bottom: 5%;
}

.words {
    border: medium solid #888;
    padding: 2%;
    margin: 1.5%;
    display: inline-block;
    background-color: #ccffcc;
}


.sec {
    display: inline-block;
}

.sec1 {
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.icon {
    width: 8%;
    display: inline;
    float: right;
    border-left: medium solid grey;
    padding: 5%;
}

#fb {
    border-right: medium solid grey;
}

footer {
    background-color: #ccffcc;
    height: 150px;
}