
header {
    margin-bottom: 5%;
}
.title1 {
    display: inline;
    font-size: 4vw;
}
#logo {
    width: 5%;
    display: inline;
}

nav {
    display: inline;
    float: right;
    padding-right: 5%;
    width: 40%;
    margin-top: 2.7%;
}

.link {
    text-decoration: none;
    color: black;
    padding: 5%;
}

#leftsec {
    border-style: solid;
    width: 29%;
    margin-left: 1%;
    padding: 2.5%;
}

#user {
    width: 30%;
    margin-left: 0%;
}

h2 {
    float: right;
    margin-right: 20%;    
}

h3 {
   display: inline-block;
}

#plus {
    border: thin solid black;
    padding: 1.5%;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

#pref {
    margin-bottom: 5%;
}

.words {
    border: medium solid black;
    padding: 2%;
    margin: 1.5%;
    display: inline;
}

#rightsec {
    border-style: solid;
    width: 62%;
    float: right;
    height: 500px;
    margin-right: 1%;
}

.sec {
    display: inline-block;
}

.sec1 {
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.icon {
    width: 8%;
    display: inline;
    float: right;
    border-left: medium solid grey;
    padding: 5%;
}


